.social-links {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.social-links a {
  color: rgb(172, 103, 103);
  font-size: 1.8rem;
  transition: color 0.3s, transform 0.3s;
}

.social-links a:hover {
  color: #00bcd4;
  transform: scale(1.2);
}
